*.opensdf
*.sdf
*.obj
*.sbr
*.tlh
*.bsc
out
*.ilk
*.tlog
*.tli
*.pdb
*.ncb
*.plg
*.pch
*.idb
*.ipch
*.suo
src/GfxWidtget3/Release
src/GfxWidtget3/Debug
src/TreClientVs/Backup
src/TreClientVs/Debug
src/TreClientVs/Release
*.db

